# macOS
.DS_Store

# Xcode user files
xcuserdata/
*.xcuserstate

# Xcode build files
DerivedData/
build/
# macOS
.DS_Store

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/

# Build files
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

